@charset "UTF-8";

@font-face {
    font-family: 'pizzafont';
    src: url(../fontes/Delicious-3z8O3.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1-: #C6202E;
    --cor2-: #D7E666;
    --font_pizza-: 'pizzafont';
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    font: normal 16px Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/imagem-pizza-fundo.jpg);
}

header {
    background-color: var(--cor1-);
    color: white;
    width: 99.1vw;
    min-height: 400px;
}

header > div#cabecalho {
    min-height: 100px;
}

header > div#cabecalho > h2 {
    background-color: rgb(222, 244, 56);
    font-family: var(--font_pizza-), Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    border-radius: 50%;
    padding: 7px;
    margin: 37px;

    float: left;
    transform: rotate(-5deg);
}

header > div#cabecalho > nav {
    padding: 46px 0px 46px 1300px;
    float: left;
}

header > div#cabecalho > nav > a {
    color: white;
    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
}

header > div#cabecalho > nav > a:hover {
    color: #f6ffaf;
    text-decoration: underline;
    transition: 0.4s;
}

header > div#imagem-pizza-fundo > img {
    width: 99.1vw;
    max-height: 860px;
    background-size: cover;
    position: relative;
}

header > div#imagem-pizza-fundo > h1 {
    background-color: #d7e66644;
    font-family: var(--font_pizza-), Arial, Helvetica, sans-serif;
    font-size: 250px;
    text-shadow: 2px 2px 4px black;
    padding: 53px;
    position: absolute;
    border-radius: 50%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main#menu {
    padding: 10px 400px;
}

main#menu > nav {
    text-align: center;
    padding: 20px;
}

main#menu > nav > button {
    background-color: transparent;
    background-size: contain;
    font-size: 20px;
    padding: 10px;
    margin: 15px 80px;

    cursor: pointer;
}

main#menu > nav > button:hover {
    text-decoration: underline;
    transition: 0.4s;
}

main#menu > nav > button > img {
    width: 45px;
}

main#menu > nav > button > p {
    font-size: 18px;
}

main#menu > div#promocao {
    background-color: #bff331;
    max-height: 250px;
}

main#menu > div#promocao > h1 {
    color: var(--cor1-);
    margin: 50px 30px;
    font-size: 50px;
    float: left;
}

main#menu > div#promocao > img {
    max-width: 350px;
    margin-left: 460px;
}

main#menu > h2.menu-produtos {
    background-color: #f6ff00f7;
    color: #d61828;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin: 30px 0px;
}

main#menu > div.produtos {
    background-color: whitesmoke;
    max-width: 190px;
    max-height: 370px;
    padding: 10px;
    margin: 20px;
    border: 2px solid rgba(157, 157, 157, 0.891);
}

#menu_pizza{display: block;}
#menu_hamburguer{display: none;}
#menu_bebidas{display: none;}
.menu_mostrar-mais{display: none !important;}