@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'pizzafont';
    src: url(../fontes/Delicious-3z8O3.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1-: #C6202E;
    --cor2-: #D7E666;
    --font_pizza-: 'pizzafont';
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    font: normal 16px Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/img-fundo-pizza.jpeg);
}

header {
    color: white;
    width: 100vw;
    min-height: 400px; 
}

header > div#cabecalho {
    background-color: var(--cor1-);
    width: 100vw;
    min-height: 100px;
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.729);

}

header > div#cabecalho > h2 {
    background-color: rgb(222, 244, 56);
    font-family: var(--font_pizza-), Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    border-radius: 50%;
    padding: 7px;
    margin: 37px;

    float: left;
    transform: rotate(-5deg);
}

header > div#cabecalho > nav {
    padding: 46px 0px 46px 1200px;
    float: left;
}

header > div#cabecalho > nav > a {
    color: white;
    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
}

header > div#cabecalho > nav > a:hover {
    color: #f6ffaf;
    text-decoration: underline;
    transition: 0.4s;
}

header > div#imagem-pizza-fundo {
    border-bottom: 1px solid white;
    max-height: 860px;
}

header > div#imagem-pizza-fundo > img {
    width: 100vw;
    max-height: 860px;
    background-size: cover;
    position: relative;
}

header > div#imagem-pizza-fundo > h1 {
    background-color: #d7e66644;
    font-family: var(--font_pizza-), Arial, Helvetica, sans-serif;
    font-size: 250px;
    text-shadow: 2px 2px 4px black;
    padding: 53px;
    position: absolute;
    border-radius: 50%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main#menu {
    background-color: white;
    margin: 0px 400px 10px 400px;
    padding: 15px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.307);
}

main#menu > nav {
    text-align: center;
    padding: 20px;
}

main#menu > nav > button {
    background-color: transparent;
    background-size: contain;
    font-size: 20px;
    padding: 10px;
    margin: 15px 80px;

    cursor: pointer;
}

main#menu > nav > button:hover {
    text-decoration: underline;
    transition: 0.4s;
}

main#menu > nav > button > img {
    width: 45px;
}

main#menu > nav > button > p {
    font-size: 18px;
}

main#menu > div#promocao {
    background-color: #fffb2542;
    max-height: 250px;
}

main#menu > div#promocao > h1 {
    color: var(--cor1-);
    margin: 50px 30px;
    font-size: 50px;
    float: left;
}

main#menu > div#promocao > img {
    max-width: 350px;
    margin-left: 460px;
}

main#menu > h2.menu-produtos {
    background-color: #f6ff00e1;
    color: #d61828;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin: 30px 0px;
}

main#menu > div#menu-produtos-estilo {
    columns: 4;
}

main#menu > div#menu-produtos-estilo > div.produtos {
    background-color: whitesmoke;
    text-align: center;
    width: 190px;
    height: 370px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid rgba(157, 157, 157, 0.891);
    border-radius: 10px;
}

main#menu > div#menu-produtos-estilo > div.produtos:hover {
    background-color: rgb(234, 234, 234);
    transition: 0.4s;
}

main#menu > div#menu-produtos-estilo > div.produtos > img {
    margin-top: 10px;
    width: 200px;
}

main#menu > div#menu-produtos-estilo > div.produtos > p.preco {
    font-weight: bold;
    margin: 10px;
    float: left;
}


main#menu button#btn_mostrar-mais {
    text-align: center;
    width: 1073px;
    cursor: pointer;
}

main#menu button#btn_mostrar-mais:hover {
    background-color: rgb(234, 234, 234);
    color: gray;
    transition: 0.4s;
}

main#menu button#btn_mostrar-mais > h2 {
    font-size: 23px;
    border: 1px solid rgba(0, 0, 0, 0.447);
    border-radius: 0px 0px 10px 10px;
}

main#menu button#btn_mostrar-menos {
    text-align: center;
    width: 1073px;
    cursor: pointer;
}

main#menu button#btn_mostrar-menos:hover {
    background-color: rgb(234, 234, 234);
    color: gray;
    transition: 0.4s;
}

main#menu button#btn_mostrar-menos > h2 {
    font-size: 23px;
    border: 1px solid rgba(0, 0, 0, 0.447);
    border-radius: 0px 0px 10px 10px;
}

article#peca-ja {
    background-color: white;
    margin: 0px 400px 10px 400px;
    padding: 15px;
    max-height: 200px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.307);
}

article#peca-ja > aside {
    background-color: #e1ff0021;
    height: 200px ;
    border-radius: 2px;
}

article#peca-ja > aside > h1 {
    color: #d61828;
    font-size: 60px;
    padding: 10px;
    margin: 50px;
    margin-left: 280px;
    float: left;
}

article#peca-ja > aside > a {
    color: #d61828;
    padding: 10px;
    margin: 45px;
    margin-right: 300px;
    float: right;
}

article#peca-ja > aside > a:hover {
    color: #25D366;
    transition: 0.4s;
}

article#peca-ja > aside ion-icon {
    width: 90px;
    height: 90px;
}

article#redes-sociais {
    background-color: white;
    margin: 0px 400px 5px 400px;
    padding: 15px;
    height: 250px;
    max-height: 200px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.307);
}

article#redes-sociais > h2 {
    color: #e21022;
    font-size: 50px;
    padding: 10px;
    margin: 60px;
    margin-left: 30px;
    float: left;
}

article#redes-sociais > a {
    color: #d61828;
    padding: 10px;
    margin-right: 70px;
    margin-top: 50px;
    float: right;
}

article#redes-sociais  ion-icon {
    width: 90px;
    height: 90px;
}

article#redes-sociais > a#face:hover {
    color: #0866FF;
    transition: 0.4s;
}

article#redes-sociais > a#insta:hover {
    color: #CE1C5C;
    transition: 0.4s;
}

footer#endereco {
    background-color: white;
    padding: 12px;
}

footer#endereco > p#p-endereco {
    text-align: center;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}

#menu_pizza{display: block;}
#menu_hamburguer{display: none;}
#menu_bebidas{display: none;}
.excluir{display: none;}
.adicionar{display: block !important;}